body{
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

.circle{
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  opacity: 1;
  overflow: hidden; 
  animation: grow 5s forwards;
  background-color: rgb(73, 160, 194);

}

@keyframes grow{
    0%{
        transform: scale(1);
        opacity: 1;
        font-size: 10px;
    }
    100%{
        transform: scale(3);
        opacity: 0;
        font-size: 40px;
    }
}